<launch>
  <!-- <node pkg="polaris_sim_utils" type="gps_path_sin" name="gps_path_sin_node" /> -->
  <node pkg="polaris_sim_utils" type="waypoints_publisher" name="waypoints_publisher_node" />
  <node pkg="pt_controller" type="pursuit_controller_node" name="pursuit_controller_node" output="screen" args="-d $(find pt_controller)/pt_controller/pursuit_controller_node" />
</launch>
